.table-a{
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;

    div{
        box-sizing: border-box;
        text-align: left;
    }
    .table-first{
        width: 15%;
        padding: 10px 15px;
    }
    .table-second{
        width: 65%;
        padding: 10px 50px 10px 0px;
    }
    .table-three{
        width: 20%;
        color: rgba($color: #000000, $alpha: 0.75);
    }
}